BREVO_API_KEY=your-brevo-api-key
BREVO_LIST_ID=2
EMAIL_FROM_NAME=Renato Xavier
EMAIL_FROM_EMAIL=notas@notasdeberlim.com
EMAIL_REPLY_TO=renatoxavier12@gmail.com
EMAIL_TEST_TO=renatoxavier12@gmail.com
EMAIL_TEST_TO_NAME=Renato Xavier
